@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  html {
    @apply text-stone-800;
  }
  h1 {
    @apply text-xl;
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-sm;
  }
  p {
    @apply text-xs;
  }
}

@layer components {
  .menu-link {
    @apply font-light mx-2 lowercase relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-amber-600 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
  }
  .visibleStyle {
    @apply left-0 fixed sm:hidden top-0 bottom-0 p-5 bg-stone-800/80 w-full transition-all overflow-hidden backdrop-blur;
  }
  .hiddenStyle {
    @apply -left-full fixed sm:hidden top-0 bottom-0 p-5 bg-stone-800/80 w-full transition-all overflow-hidden backdrop-blur;
  }
}

.clip {
  clip-path: polygon(0 43%, 17% 3%, 34% 46%, 57% 21%, 77% 39%, 100% 26%, 100% 100%, 0 100%);
}
