@tailwind base;
@tailwind components;
@tailwind utilities;

@import "menu.css";
@import "svgpage.css";
@import "prolog.css";
@import "testimonials.css";

:root {
  --stone: #2a2622;
  --amber: #d97700;
}

/* ::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none; 
} */

@layer base {
  html {
    color: var(--stone);
  }
  h1 {
    @apply flex justify-center font-semibold text-stone-600 text-4xl md:text-5xl xl:text-6xl -tracking-[1px];
  }
  h2 {
    @apply flex justify-center font-bold text-stone-700 text-[2rem] md:text-4xl -tracking-[1px];
  }
  h3 {
    @apply flex justify-start md:justify-center font-semibold text-stone-700 text-2xl md:text-3xl xl:text-4xl -tracking-[0.5px] leading-6;
  }
  h4 {
    @apply flex text-justify text-stone-600 text-base md:text-xl xl:text-2xl -tracking-[0.5px] leading-5;
  }

  .card {
    @apply flex flex-col justify-center items-center h-full w-full transition-all duration-500 bg-cover bg-center bg-no-repeat md:rounded-lg;
  }
  @media screen and (min-width: 300px) {
    .card-tall {
      @apply row-[span_2_/_auto];
    }
    .card-wide {
      @apply col-[span_2_/_auto];
    }
  }
}

/* HeadingPage */
.letter-a-null {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.letter-a {
  clip-path: polygon(0 0, 100% 10%, 100% 80%, 0% 100%);
}

/* GuestsSelect in components/input */
#guests,
#guests option {
  text-align: center;
  text-align-last: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

select::-ms-expand {
  display: none;
}

select {
  text-align-last: center;
}

/*  */
/* .image-mosaic {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
} */
