@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  html {
    @apply text-stone-800;
  }
  h1 {
    @apply flex justify-center font-sans font-semibold text-stone-600 text-[2rem] md:text-5xl xl:text-6xl -tracking-[1px];
  }
  h2 {
    @apply flex font-medium text-stone-600 text-xl md:text-2xl xl:text-3xl;
  }
  h3 {
    @apply flex text-justify text-stone-600 text-lg md:text-xl xl:text-2xl -tracking-[0.5px] leading-6;
  }
}

/* Navbar */
.triangle {
  clip-path: polygon(0 90%, 7% 100%, 100% 90%);
}

/* HomePage */
.hexa {
  clip-path: polygon(5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%);
}
.hexa-aside {
  clip-path: polygon(10% 25%, 50% 0%, 90% 25%, 95% 75%, 50% 95%, 5% 75%);
}
.parallel-up {
  clip-path: polygon(0% 0%, 90% 20%, 90% 100%, 0% 80%);
}
.parallel-down {
  clip-path: polygon(10% 0%, 100% 20%, 100% 100%, 10% 80%);
}
.flt_svg {
  visibility: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
}
.svg-parent {
  filter: url("#flt_tag");
}

/* menu wapper */
.wrapper {
  /* clip-path: polygon(0 0, 0 0, 0 0, 0 0); */
  clip-path: circle(0 at 0 0);
  transition: all 0.5s ease-in-out;
}
.active {
  /* clip-path: polygon(0 0, 85% 0, 70% 80%, 0 100%); */
  clip-path: circle(75% at 0 0);
}
/* menu */
