/* HomePage */
.letter-a {
  clip-path: polygon(0 0, 100% 10%, 100% 80%, 0% 100%);
}

.hexa {
  clip-path: polygon(5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%);
}
.hexa-aside {
  clip-path: polygon(10% 25%, 50% 0%, 90% 25%, 95% 75%, 50% 95%, 5% 75%);
}
.parallel-up {
  clip-path: polygon(0% 0%, 90% 17%, 90% 100%, 0% 83%);
}
.parallel-down {
  clip-path: polygon(10% 0%, 100% 17%, 100% 100%, 10% 83%);
}
.circle-null {
  clip-path: circle(0% at 50% 50%);
}
.circle {
  clip-path: circle(50% at 50% 50%);
}

.flt_svg {
  visibility: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
}
.svg-parent {
  filter: url("#hexa");
}

/* IntroPage */
.number {
  @apply bg-19 bg-contain bg-center bg-no-repeat drop-shadow-[-5px_-6px_1px_rgba(42,38,34,50%)] max-w-[39vh] w-[39vw] max-h-[39vh] h-[39vw] min-w-[19rem] min-h-[19rem] z-0;
}
