:root {
  --stone: #2a2622;
  --amber: #d97700;
}

.menu-icon {
  position: absolute;
  width: 24px;
  margin-left: 16px;
  cursor: pointer;
  z-index: 100;
}
.menu-icon__line {
  height: 1.5px;
  width: 24px;
  display: block;
  background-color: var(--stone);
  margin-bottom: 3px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}
.menu-icon__line-left {
  width: 12px;
}
/* .menu-icon__line-center {
  background: linear-gradient(179deg, var(--stone), var(--amber));
} */
.menu-icon__line-right {
  width: 12px;
  float: right;
}
.nav-active .menu-icon__line {
  background-color: var(--stone);
  transform: translateX(0px) rotate(-45deg);
}
.nav-active .menu-icon__line-left {
  transform: translateX(1px) rotate(45deg);
}
.nav-active .menu-icon__line-right {
  transform: translateX(-2px) rotate(45deg);
}

.clippy-one-null {
  clip-path: polygon(100% 0%, 100% 0%, 100% 10%, 100% 10%);
  transition: all 0.5s ease-in;
}
.clippy-one {
  clip-path: polygon(0 0, 100% 0, 100% 10%, 0 30%);
}

.clippy-two-null {
  clip-path: polygon(0 30%, 40% 22%, 40% 22%, 0 30%);
  transition: all 0.5s ease-out 0.4s;
}
.clippy-two {
  clip-path: polygon(0 30%, 40% 22%, 72% 76%, 0 90%);
}

.clippy-three-null {
  clip-path: polygon(100% 100%, 85% 100%, 85% 100%, 100% 100%);
  transition: all 0.5s ease-out 0.4s;
}
.clippy-three {
  clip-path: polygon(100% 10%, 40% 22%, 85% 100%, 100% 100%);
}

.clippy-four-null {
  clip-path: polygon(0% 90%, 0% 90%, 0% 100%, 0% 100%);
  transition: all 0.5s ease-in;
}
.clippy-four {
  clip-path: polygon(0 90%, 71% 76%, 85% 100%, 0% 100%);
}

.clippy-bg-one-null {
  clip-path: circle(0% at 50% 50%);
  transition: all 0.3s ease-in-out;
}
.clippy-bg-one {
  clip-path: circle(75% at 50% 50%);
}
.clippy-bg-two-null {
  clip-path: circle(0% at 50% 50%);
  transition: all 0.4s ease-in-out 0.7s;
}
.clippy-bg-two {
  clip-path: circle(75% at 50% 50%);
}

.span-main {
  @apply relative ml-2 text-stone-700 group-hover:text-stone-700/50 transition-all duration-500;
}
.span-circle {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-28 h-28 group-hover:w-40 group-hover:h-40 transition-all duration-500 brightness-90 rounded-full shadow-inner shadow-black bg-gradient-to-br from-transparent to-black/30 -z-10;
}
.span-circle-inner {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-16 h-16 group-hover:w-28 group-hover:h-28 group-hover:left-0 transition-all duration-300 brightness-90 rounded-full shadow-inner shadow-black bg-gradient-to-br from-transparent to-black/30 -z-10;
}

.bg-png {
  @apply absolute bg-no-repeat bg-contain w-44 h-44 lg:w-64 lg:h-64 opacity-5 -z-20;
}
