/* PrologPage */
:root {
  --stone: #2a2622;
  --amber: #d97700;
}

.number {
  @apply bg-19 bg-contain bg-center bg-no-repeat drop-shadow-[-5px_-6px_1px_rgba(42,38,34,50%)] max-w-[39vh] w-[39vw] max-h-[39vh] h-[39vw] min-w-[19rem] min-h-[19rem] z-0;
}

.btn {
  background-color: var(--amber);
  border: none;
  color: #2a2622e5;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 12px 40px;
  position: relative;
  border-radius: 7px 0px;
}
.btn:before,
.btn:after {
  border-color: transparent;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.btn:before {
  border-color: var(--amber);
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.btn:after {
  border-bottom-width: 2px;
  border-color: var(--amber);
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.btn:hover,
.btn.hover {
  background-color: var(--stone);
  color: var(--amber);
}
.btn:hover:before,
.btn.hover:before,
.btn:hover:after,
.btn.hover:after {
  height: 100%;
  width: 100%;
}
