:root {
  --stone: #2a2622;
  --amber: #d97700;
}

/* TestimonialsPage */
.testimonials ::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  background: var(--stone);
  border-radius: 1px;
  border-top: 1px solid var(--amber);
  border-bottom: 1px solid var(--amber);
}

.testimonials ::-webkit-scrollbar-thumb {
  background: var(--amber);
  border-radius: 1px;
}

.testimonials ::-webkit-scrollbar-corner {
  background: var(--amber);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  stroke: var(--stone);
  fill: none;
}
